// -------------- FONT -----------------

$font: 'Inter', sans-serif;

// ------------- COLORS ----------------

$red: hsl(356, 69%, 56%);
$green: hsl(163, 72%, 41%);
$facebook:hsl(208, 92%, 53%);
$twitter:hsl(203, 89%, 53%);
$instagram:linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
$youtube:hsl(348, 97%, 39%);
$hover: #e1e3f0;
// -- LIGHT --
$generalBGLight:hsl(0, 0%, 100%);
$topBGLight: hsl(225, 100%, 98%);
$toogleLight: hsl(230, 22%, 74%);
$cardBGLight:  hsl(227, 47%, 96%);
$cardTextLight: hsl(228, 12%, 44%);
$cardTextLight2: hsl(230, 17%, 14%);

// -- DARK --
$generalBGDark: hsl(230, 17%, 14%);
$topBGDark:hsl(232, 19%, 15%);
$toogleDark: #38da40;
$cardBGDark: hsl(228, 28%, 20%);
$cardTextDark:hsl(0, 0%, 100%);
$cardTextDark2:hsl(228, 34%, 66%);

body{

    background-color: $generalBGLight;
    p, h1, h2{
        font-family: $font;
    }
}

body.darktheme{

    background-color: $generalBGDark;

    h1, h2{color: $cardTextDark};
    p, .follower{color:$cardTextDark2};

    header{
        background-color: $topBGDark;
        label + p {color: white};
    }

    .card, .cardOverview {

        background-color: $cardBGDark;
        &:hover{filter: brightness(1.5);}

        .number{
            color: $cardTextDark;
        }
        .stat{
            p{color: $green;}
        }
    }
    footer{
        color:$cardTextDark;
    }
}

h1{
    font-size: 25px;
    font-weight: bold;
    color: $cardTextLight2;
}

h2{
    font-size: 25px;
    font-weight: bold;
    color: $cardTextLight;
}


header{
    
    background-color: $topBGLight;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
      }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $toogleLight;
        -webkit-transition: .4s;
        transition: .4s;
        
        &:before{
            position: absolute;
            content: "";
            height: 23px;
            width: 23px;
            left: 33px;
            bottom: 4px;
            background-color: $topBGLight;
            -webkit-transition: .4s;
            transition: .4s;
        }

        &:hover{
            background-color: $toogleDark;
        }
      }

      input:checked + .slider {
        background-color:  $toogleDark;
      }
      
      input:checked + .slider:before {
        background-color:  $cardBGDark;
        -webkit-transform: translateX(-29px);
        -ms-transform: translateX(-29px);
        transform: translateX(-29px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}

main{
    position:relative;
    top:-50px;
}

.divider{
    height:2px;
    width:100%;
    background-color:$cardTextLight;
}


.card{
    background-color: $cardBGLight;
    transition: background-color 0.3s;
    padding-top: 2rem;
    padding-bottom:2rem;
    border-radius: 5px;
    border-top: 5px solid $facebook;

        &:hover{
            background-color: $hover;
        }

        .number{
            font-weight: bold;
            font-size: 60px;
            padding-bottom: 0px;
        }
        .follower{
            font-size: 15px;
            letter-spacing: 5px;
            color: $cardTextLight;
        }
    
}

.cardOverview{
    background-color: $cardBGLight;
    transition: background-color 0.3s;
    border-radius: 5px;
    padding: 1.5rem;

    &:hover{
        background-color: $hover;
    }

    .number{
        font-weight: bold;
        font-size: 30px;
        padding-bottom: 0px;
    }
}

.text-bold{
    font-weight: bold;
    color: $cardTextLight;
}

.stat{
    color: $green;
    font-weight: bold;
    img{
        width: 10px;
        height: 5px;
        display: flex;
        align-self: center;
    }
}

@media screen and (min-width: 1024px){

    main{
        top:-130px;
    }
}