<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="css/style.css">
  <title>Frontend Mentor | MarcGlug</title>
  
</head>
  <body>
    <header>
      <div class="container mx-auto px-4 py-20 lg:pb-48">
        <h1>Social Media Dashboard</h1>
        <div class="lg:flex lg:justify-between">
          <p class="text-bold"> Total Followers: 23,004</p>
          <div class="divider lg:hidden my-5"></div>
          <div class="flex justify-between">
            <label class="switch ml-3 order-2">
              <input type="checkbox" class="hidden" id="box">
              <span class="slider round"></span>
            </label>
            <p class="text-bold white">Dark mode</p>
          </div>
        </div>
      </div>
    </header>
    <main class="container mx-auto px-6">
    
      <section id="social-section" class="grid grid-cols-1 lg:grid-cols-4 gap-6"><!--Section Follower-->
        <social-card v-for="social in socials" v-bind:key="social.id" v-bind:social="social" class="w-full"></social-card>
      </section>
      
      <section id="overview-section" class="mb-6"><!--Section Overview - Today-->
        <h2 class="my-8">Overview - Today</h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
          <div v-for="social in socials" class="grid grid-cols-1 lg:grid-cols-2 gap-6">
            <div class="cardOverview mx-auto w-full" v-for="stats in social.socialNetwork">
              <div class="flex justify-between mb-6">
                <p class="text-bold">{{stats.title}}</p>
                <img :src="stats.logo" alt="logo-facebook">
              </div>
              <div class="flex justify-between">
                <p class="number">{{stats.stat}}</p>
                <div class="flex stat">
                  <img src="images/icon-up.svg" alt="arrow up">
                  <p class="self-center">{{stats.evolution}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="text-center py-6">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="https://github.com/MarcGlug">MarcGlug</a>.
    </footer>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/toggleTheme.js"></script>
  <script src="js/vue.js"></script>
</html>